.Header {
  background-color: #00BCD4;
  color: white;
  position: fixed;
  width: 100%;
  height: 160px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 250px;
  z-index: 1;
}

.Header > h1 {
  padding-left: 85px;
  font-size: 2.5em;
  line-height: 110px;
}

.Body {
  background-color: #eee;
  position: relative;
  margin-left: 250px;
  margin-top: 160px;
  margin-bottom: 160px;
  padding: 5px;
  z-index: 2;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.Card {
  padding: 30px 50px;
  margin: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.Drawer {
  background-color: #fff;
  position: fixed;
  top: 0px;
  bottom: 0;
  width: 250px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 3;
  overflow-y: scroll;
  height: 100%;
}

.Drawer > .ListItem {
  height: 60px;
  transition: 400ms;
  padding-left: 25px;
}

.Drawer > .ListItem:hover {
  background-color: #f0f0f0;
  transition: 100ms;
}

.Drawer > .SelectedListItem {
  height: 60px;
  transition: 400ms;
  padding-left: 30px;
  background-color: #ddd;
}

.Drawer > .Inset {
	padding-left: 55px;
}

.Drawer > .Inset.SelectedListItem {
	padding-left: 60px;
}

.Drawer h2{
  margin: 0;
  font-size: 0.8em;
  line-height: 60px;
  font-weight: bold;
}

.Divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
}

.Footer {
  position: fixed;
  height: 160px;
  bottom: 0;
  right: 0;
  left: 250px;
  background-color: #444;
  padding-top: 20px;
  box-sizing: border-box;
  color: #ddd;
  padding-left: 85px;
}

.collapsible, .collapsible-header {
  all: initial;
  * {
    all: unset;
  }
}

.collapsible-body {
  all: initial;
  * {
    all: unset;
  }

	padding: 2rem;
}
